{{extend 'layout.html'}}

{{try:}}
  {{if 'message' in globals():}}
    {{=H1(message)}}
  {{pass}}
  <br>
  {{if 'sts1' in globals():}}
    {{=H2(sts1)}}
  {{pass}}
  {{if 'form1' in globals():}}
    {{=form1}}
  {{pass}}
  <br>
  {{if 'sts2' in globals():}}
    {{=H2(sts2)}}
  {{pass}}
  {{if 'form2' in globals():}}
    {{=form2}}
  {{pass}}
  <br>
  {{if 'sts3' in globals():}}
    {{=H2(sts3)}}
  {{pass}}
  {{if 'form3' in globals():}}
    {{=form3}}
  {{pass}}
  <br>
  {{if 'sts4' in globals():}}
    {{=H2(sts4)}}
  {{pass}}
  {{if 'form4' in globals():}}
    {{=form4}}
  {{pass}}
{{except:}}
  {{=BEAUTIFY(response._vars)}}
{{pass}}

<br>
<br>

